@import url(reset.css);
body {
	background-color:lightblue;
}


.name{
font-size: 40px;
margin-left: 20px; 
}

.price{
font-size: 20px;
margin-left: 40px; 
}

.color{
height: 30px;
border: 3px solid #fff; 
border-radius: 10px;
margin-top: 20px;
margin-bottom: 20px;
}